*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
html{
  --black: #00114f;
  --white: #FAFAFA;
  --red: #E83F5B;
  --light-blue: #a1c5ff;
  --blue: #3485FF;
  --background: #F6FAFF;
  --overlay: #040911;
  --icons-details: #A5B0C1;

  --grey-dark: #4D5E77;
  --grey-blue: #A1B2CD;
  --grey-light: #E5EAF1;
}
body{
  height: 100vh;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center
}
body, button, input, textarea{
  font-size: clamp(12px, 1.0rem, 2vw);
  font-family: 'Open Sans', sans-serif;    
}
.content{
  background-color: var(--background);
  width: 60vw;
  min-height: 80vh;
}
input, button, .button{
  height: 2.0rem;
  border-right: .4rem;
}
button, .button{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue);
  color: var(--white);

  transition: filter .4s;

  cursor: pointer;
}
button:hover, .button:hover{
  filter: brightness(1.2);
}
